
#text{
    margin-top: 25vh;
    margin-bottom: 36.8vh;
    text-align: left;
}

#hi{
    font-size: 6vh;
}

#heading{
    font-size: 9vh;
}

#description{
    word-spacing: 3px;
    font-size: 2.5vh;
}



