
#text{
    margin-top: 25vh;
    margin-bottom: 36.8vh;
    text-align: left;
}

#hi{
    font-size: 6vh;
}

#heading{
    font-size: 5rem;
}

#description{
    word-spacing: 3px;
    font-size: 2.5vh;
}

/* RESPONSIVENESS */

/* MOBILE */
#heading.mobileL {
    font-size: 3.2rem;
}

#description.mobileL {
    font-size: 2.2vh; /* Adjust the font size for smaller screens */
    line-height: 1.3; /* Adjust line height for smaller screens */
}

    
/* TABLET */
#heading.tablet{
    font-size: 3.7rem;
}
    
#description.tablet{
    font-size: 2vh; /* Adjust the font size for smaller screens */
    line-height: 1.3; /* Adjust line height for smaller screens */
}

