.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face{
  font-family: montserrat-light;
  src: url(../public/fonts/Montserrat-Light.ttf);
}

.mont-light{
  font-family: montserrat-light;
}

@font-face{
  font-family: montserrat-medium;
  src: url(../public/fonts/Montserrat-Medium.ttf);
}

.mont-medium{
  font-family: montserrat-medium;
}

body{
    margin: 0;
    padding: 0;
    background-image: url('../public/assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

